#construction {
    display: flex;
    visibility: hidden;
    justify-content: center;
    margin-top: 100px;
}
#construction img {
    width: 20%;
}
body{
    font-family: "ABeeZee";
}
h1 {
    font-size: 50px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
    text-decoration: underline;
}

h6 {
    font-size: 15px;
    text-decoration: underline;
}
body{
    background-color: #2a2b40;
    font-family: 'ABeeZee', sans-serif;
    color: #f5f6f7;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: -2px;
    background-color: #8C7D41;
    border-radius: 20px;
}
nav a{
    color: #41448C;
}
nav a:hover{
    color: #D9C679;
}
nav td{
    text-align: center;
    padding: 7px 15px;
}
nav table{
    margin-left: auto;
    margin-right: auto;
}
.tdyBdB{
    border-bottom: #D9C679 solid thin;
}
main{
    margin: 15px;
}
.arrowUp{
    position: fixed;
    bottom: 5%;
    left: 95%;
    font-size: 2em;
    color: #8C7D41;
    
}
main a{
    color: #D9C679;
}