h1 {
    font-size: 50px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
    text-decoration: underline;
}

h6 {
    font-size: 15px;
    text-decoration: underline;
}
.bgLtGrey{
    background-color: lightgrey;
}
.bgLtGrey ul{
    list-style: none;
}
.bgKhaki{
    background-color: khaki;
}
.bdLtSkBlue{
    border: lightskyblue 2px solid;
    padding: 2px;
}
.bgLtCoral{
    background-color: lightcoral;
}
.bgLtGreen{
    background-color: lightgreen;    
}
#idSelectorEx1{
    background-color: mediumpurple;
}
.bgMdPurple{
    background-color: mediumpurple;
}
aside{
    background-color: lightskyblue;
}
.bgLtSkBlue{
    background-color: lightskyblue;
}
.bgLtGreyHover li{
    margin-top: 20px;
}
.bgLtGreyHover{
    background-color: lightgrey;
}
.bgLtGreyHover:hover{
    background-color: lightskyblue;
}
.true:checked + label{
    background-color: lightgreen;
}
.false:checked + label{
    background-color: lightcoral;
}
.bgLtGreyHover li:last-of-type{
    background-color: khaki;
}
.bgLtGrey div span u{
    background-color: mediumpurple;
}
.bgLtSkBlue{
    background-color: lightskyblue;
}
.bgLtSkBlue1{
    background-color: #87cefa;
}
.bgLtSkBlue2{
    background-color: rgb(135, 206, 250);
}
.bgLtSkBlue6{
    background-color: hsl(203, 92%, 75%);
}
.bgLtSkBlue4{
    background-color: hsla(203, 92%, 75%, .3);
}
.bgLtSkBlue5{
    background-color: rgba(135, 206, 250, .7);
}
.bgGradient{
    background: linear-gradient(#3399cc, #71458c, #cc7e1f);
}
.blue{
    color: blue;
}
.bdGrey td{
    border: 1px solid lightslategray;
}
.wEx1{
    width: 10%;
}
.wEx2{
    width: 100px;
}
.wEx3{
    width: 100px;
    height: 50px;
}
.td49{
    width: 49%;
}
.td2{
    width: 2%;
}
.td33
{
    width: 33%;
}
td ol{
    list-style: lower-latin;
}
style{
    display: block;
    width: fit-content;
    background-color: #87cefa;
    padding: 5px;
    border: 5px inset lightgrey;
}
#padChange{
    width: fit-content;
    border: 1px solid black;
    background-color: khaki;
}
#padChange span{
    background-color: #87cefa;
}
.tablePT{
    padding: 20px 0;
}
#margChange{
    width: fit-content;
    border: 1px solid black;
    background-color: khaki;
    padding: 10px;
}
.bdBlack2{
    border: black solid 2px;
}
.style2{
    display: block;
    width: fit-content;
    background-color: lightgreen;
    padding: 5px;
    border: 5px inset lightgrey;
}
section{
    margin: 1%;
}
.td50{
    width: 50%;
}
.tdBdPadS{
    border: solid;
    padding: 20px;
}
.divBd{
    margin: 10px;
    padding: 10px;
}
.relFrame{
    display: inline-block;
    border: dashed thin black;
}
.relBlock{
    display: block;
    position: relative;
    z-index: -1;
    top: 80px;
    right: 40px;
    width: 30px;
    height: 20px;
    background-color: #87cefa;
}
footer{
  position: fixed;
  bottom: 1px;
  background-color: white;
  padding: 5px;
  margin-bottom: -1px;
}
.arrowUp{
    position: sticky;
    top: 95%;
    left: 95%;
    font-size: 2em;
    background-color: white;
}
.contentFig{
    background-color: #87cefa;
    width: 200px;
    height: 100px;
}
.padFig{
    background-color: khaki;
}
.borderFig{
    background-color: lightgreen;
}
main{
    margin-bottom: 50px;
}
.fABZ{
    font-family: 'ABeeZee', sans-serif;
}
.redLine
{
    background-color: #B31942;
}

.whiteLine
{
    background-color: white;
}

.mainFrame
{
    border-collapse: collapse;
}

.blueFrame
{   
    width: 160px;
    height: 108px;
    background-color: #0A3161;
    position: absolute;
    margin-left: -1px;
    margin-top: -8px;
    line-height: 0.001em;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 2px;
}

.blueFrame div
{
    color: white;
    font-size: x-small;
}

.blackLine
{
    background-color: black;
}

.whiteFrame
{
    width: 177px;
    height: 88px;
    background-color: white;
    position: absolute;
    margin-left: -1px;
    margin-top: -10px;
    line-height: 0.001em;
    padding-left: -5px;
    padding-right: 10px;
}

.whiteFrame img
{
    height: 110%;
    width: 110%;
}