body
{
    background-color: #333333;
    font-family: consolas, 'ABeeZee', sans-serif;
    background-image: url(../img/Logo4.0_B&W_opa20.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 40%;
    color: #f5f6f7;
}
header{
    background-color: #324648 !important;
}
.contactRibbon{
    background-color: #324648;
    font-size: 12px;
    padding: 5px 0px;
}
.contactRibbon a{
    color: #CC7E1F;
    text-decoration: none;
}
.contactRibbon a:hover{
    color: #CC7E1F;
    text-decoration: underline;
}
.navbar{
    border-radius: 20px;
}
.bg-dark {
    background-color: #10879b !important;
}
.logoFit{
    width: 50px;
    transition: all 0.8s ease;
    border-radius: 5px;
}
.logoFit:hover{
    transform: scale(1.3);
}
.nav-link{
    border-radius: 10px;
    color: #f5f6f7 !important;
    font-size: 20px;
}
.active{
    color: #CC7E1F !important;
    font-weight: 600;
}
.nav-link:hover{
    background-color: #71458c;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.dropdown-menu{
    background-color: #10879b;
    padding-top: 16px;
    border: none;
}
.dropdown-item{
    color: #f5f6f7;
    padding-left: 5px;
}
.dropdown-item:hover{
    background-color: #71458c;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.5s ease;
}
main{
    margin-top: 120px;
    margin-bottom: 50px;
}
#welcome{
    background-color: #CC7E1F;
    border-radius: 20px;
    padding-top: 5px;
    margin-top: 20px;
}
.card{
    margin-top: 20px;
    color: #333333;
    border-radius: 20px;
}
.btnaB{
    color: #f5f6f7;
    background-color: #10879b;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border-style: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all 0.5s ease;
  }
.btnaB:hover{
    background-color: #71458c;
    color: #f5f6f7;
}
.btnaO{
    color: #f5f6f7;
    background-color: #d57808;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border-style: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all 0.5s ease;
}
.btnaO:hover{
    background-color: #71458c;
    color: #f5f6f7;
}
.b10b{    
    border: #3399cc solid 10px;
}
.b10o{
    border: #CC7E1F solid 10px;
    border-radius: 20px;
}
.b10v{
    border: #71458c solid 10px;
}
.btnConsHv{
    border-color: #333333;
    background-image: repeating-linear-gradient(-45deg, #CC7E1F, #CC7E1F 10px, #333333 10px, #333333 20px);
    color: #f5f6f7;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border-style: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}
.btnConsHv span{
    background-color: #CC7E1F;
    border-radius: .25rem;
    transition: all 0.5s ease;
}
.btnConsHv:hover span{
    background-color: #71458c;
}
.btnConsHv:hover{
    border-color: #71458c;
    background-image: repeating-linear-gradient(-45deg, #CC7E1F, #CC7E1F 10px, #71458c 10px, #71458c 20px);
    color: #f5f6f7;
}
.modal-dialog{
    background-color: #CC7E1F;
    border: #CC7E1F solid 10px;
    border-radius: 20px;
}
.modal-content{
    background-color: #CC7E1F;
    border: #CC7E1F solid 10px;
    border-radius: 20px;
}
.modal-body{
    color: #333333;
    background-color: #f5f6f7;
    border-radius: 10px;

}
.modal-footer{
    border: none;
}
.reset{
    font-family: arial;
    font-size: 13px;
}
.modal-footer .btn-secondary{
    border-radius: 5px;
}
.modal-header{
    border: none;
}
footer{
    font-size: 12px;
    background-color: #324648 !important;
}
footer a{
    color: #CC7E1F;
    text-decoration: none;
}
footer a:hover{
    color: #CC7E1F;
    text-decoration: underline;
}