body
{
    background-color: #333333;
    font-family: consolas, 'ABeeZee', sans-serif;
    background-image: url(../img/Logo4.0_B&W_opa20.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 40%;
    color: #f5f6f7;
}
header{
    background-color: #324648 !important;
}
.contactRibbon{
    background-color: #324648;
    font-size: 12px;
    padding: 5px 0px;
}
.contactRibbon a{
    color: #CC7E1F;
    text-decoration: none;
}
.contactRibbon a:hover{
    color: #CC7E1F;
    text-decoration: underline;
}
.navbar{
    border-radius: 20px;
}
.bg-dark {
    background-color: #10879b !important;
}
.logoFit{
    width: 50px;
    transition: all 0.8s ease;
    border-radius: 5px;
}
.logoFit:hover{
    transform: scale(1.3);
}
.nav-link{
    border-radius: 10px;
    color: #f5f6f7 !important;
    font-size: 20px;
}
.active{
    color: #CC7E1F !important;
    font-weight: 600;
}
.nav-link:hover{
    background-color: #71458c;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.dropdown-menu{
    background-color: #10879b;
    padding-top: 16px;
    border: none;
}
.dropdown-item{
    color: #f5f6f7;
    padding-left: 5px;
}
.dropdown-item:hover{
    background-color: #71458c;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.5s ease;
}
main{
    margin-top: 140px;
    margin-bottom: 50px;
}
a{
    color: #d57808;
}
a:hover{
    color: #71458c;
}
main .col-12{
    margin-bottom: 15px;
}
.btnB{
    color: inherit;
    font: inherit;
    background-color: #10879b;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border-style: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all 0.5s ease;
  }
.btnB:hover{
    background-color: #71458c;
}
.btnO{
  color: inherit;
  font: inherit;
  background-color: #d57808;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  border-style: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all 0.5s ease;
}
.btnO:hover{
    background-color: #71458c;
}
#btnOrange{
    color: #f5f6f7;
    background-color: #d57808;
    border-color: #d57808;
}
#btnOrange:hover{
    color: #f5f6f7;
    background-color: #71458c;
    border-color: #71458c;
}
footer{
    font-size: 12px;
    background-color: #324648 !important;
}
footer a{
    color: #CC7E1F;
    text-decoration: none;
}
footer a:hover{
    color: #CC7E1F;
    text-decoration: underline;
}