body
{
    background-color: #333333;
    font-family: consolas, 'ABeeZee', sans-serif;
    background-image: url(../img/Logo4.0_B&W_opa20.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 40%;
    color: #f5f6f7;
}
header{
    background-color: #324648 !important;
}
.contactRibbon{
    background-color: #324648;
    font-size: 12px;
    padding: 5px 0px;
}
.contactRibbon a{
    color: #CC7E1F;
    text-decoration: none;
}
.contactRibbon a:hover{
    color: #CC7E1F;
    text-decoration: underline;
}
.navbar{
    border-radius: 20px;
}
.bg-dark {
    background-color: #10879b !important;
}
.logoFit{
    width: 50px;
    transition: all 0.8s ease;
    border-radius: 5px;
}
.logoFit:hover{
    transform: scale(1.3);
}
.nav-link{
    border-radius: 10px;
    color: #f5f6f7 !important;
    font-size: 20px;
}
.active{
    color: #CC7E1F !important;
    font-weight: 600;
}
.nav-link:hover{
    background-color: #71458c;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.dropdown-menu{
    background-color: #10879b;
    padding-top: 16px;
    border: none;
}
.dropdown-item{
    color: #f5f6f7;
    padding-left: 5px;
}
.dropdown-item:hover{
    background-color: #71458c;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.5s ease;
}
main{
    margin-top: 120px;
    margin-bottom: 50px;
}
a{
    color: #d57808;
}
a:hover{
    color: #71458c;
}
main .col-12{
    margin-bottom: 15px;
}
footer{
    font-size: 12px;
    background-color: #324648 !important;
}
footer a{
    color: #CC7E1F;
    text-decoration: none;
}
footer a:hover{
    color: #CC7E1F;
    text-decoration: underline;
}